@import "font";

html, body{
    margin:0;
    padding:0;
    display: flex;
    background : #EFEFEF;

    font-family: 'lego';
}


canvas{
    border: thin solid #ccc;
    border-radius:10px;
    box-shadow: 5px 4px 5px #888888;
}

.mdl-layout__header-row{
    img{ 
        max-height: 90%;
        margin-right: 20px;
        left: 0px;
        position:relative;
    }
} 

.mdl-layout .mdl-layout__content{
    display: flex;
    
    .page-content{
        display: flex;
        flex:1; 
        justify-content: center;
        flex-direction: column;
        position:relative;
                
                
    }
}

.center{
    text-align: center;
}