@import "common";

canvas{
    width: 600px;
    height: 600px;
}

#game{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#login-msg{
    align-self: center;
}

@media only screen and (max-width: 768px) {
    canvas{
        width: 100vw;
        height: 100vw;
    }
}

.parent-moderation-btns{
    display: flex;
    justify-content: center;

    button{
        width:200px;
        margin:20px;
    }
}