@import "common";

canvas{
    width: 100vw;
    height: calc(100vw + 100px);
}

#color-picker{
    position:absolute;
    right:10px;
    top:50px;
}

#hello-msg{
    align-self: center;
}

#login-msg{
    align-self: center;
}

#game{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

$img-user : 80px;

#img-user{
    width:$img-user;
    height: $img-user;
    border-radius: $img-user;
    background-size:cover;
    border: thin solid black;
    align-self: center;
    margin-top: 10px;
}



